header{
    margin: auto;
    position: relative;
}
body{
    background-color: transparent !important;
}

.conteudo{
    border-radius: 10px;
    -webkit-box-shadow: 3px 2px 23px -7px rgba(0,0,0,0.77); 
    box-shadow: 3px 2px 23px -7px rgba(0,0,0,0.77); 
    margin: 65px;
    padding: 25px;
}

h4{
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 10px;
    -webkit-box-shadow: 3px 2px 23px -7px rgba(0,0,0,0.77); 
    box-shadow: 3px 2px 23px -7px rgba(0,0,0,0.77); 
}