header{
    margin: auto;
    position: relative;
}
body{
    background: url(https://images.squarespace-cdn.com/content/v1/5b625f0d96d455ef934bf48c/1564460660659-U40XL580RL6W9HZKSW78/0.jpg) no-repeat center center fixed;
    background-size: cover; 


}
.conteudo{
    border-radius: 10px;
    -webkit-box-shadow: 3px 2px 23px -7px rgba(0,0,0,0.77); 
    box-shadow: 3px 2px 23px -7px rgba(0,0,0,0.77); 
    margin: 250px;
    padding: 25px;
    background-color:#D1A36D;
    font-family: Arial, Helvetica, sans-serif;
}

h4{
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 10px;
    -webkit-box-shadow: 3px 2px 23px -7px rgba(0,0,0,0.77); 
    box-shadow: 3px 2px 23px -7px rgba(0,0,0,0.77); 
}