#plano{
    padding-left: 10px !important;
}

#teste{
    justify-content: center !important;
}

.select{
  width: auto !important;
}

.btn-success{
  position: relative !important;
  color: #fff !important;
}
.btn-success:hover{
  background-color: #20a837 !important;
}

#del_tel{
  position: relative;
  color: #fff;
  margin-left: 10px;
  background-color: #a82020;
  border-color: #a82020;
}

.del_num{
  float: left;
  display: inline !important; 
}

.none{
  display: none;
}
.salvar{
  background-color: #20a837;
  border-color: #118b2b;
}

input{
  margin-left: 12px;
  margin-bottom: -4px;
  caret-color: #4e6ef1;
}
input:last-child{
  margin-bottom: 0px;
}

.adicional{
  margin-top: 4px !important;
  height: 30px !important;
}
.input-group{
  margin-top: 5px;
}
#tel_input{
  margin-bottom: 1px !important;
}
.btn-remove-phone{
  margin-top: 4px;
  padding: 5px !important;
  height: 29px;
}


.cancelar{
  background-color: #a82020;
  border-color: #8b1111;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: transparent;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb{
  background: #4e6ef1;
  border-radius: 50px;
}


#cpf_input, #tel_input, #email_input, #senha_antiga, #senha_nova, #senha_nova_dup, #nome_empresa_input, #nome_fantasia_input, #cnpj_input, #ramo_input, #cep_empresa_input, #rua_input, #numero_empresa_input, #bairro_input, #cidade_input, #estado_input, #cep_usuario_input, #numero_usuario_input{
  transition: all 0.5s ease-in-out;
  border-radius:6px;
  border: 1px solid #ced6e0;
}

#StrengthDisp{
  display: none;
  margin-left: 16%;
  margin-top: -14px;
  width: 50%;
}

.vermei, .vermei:focus, vermei:hover{
  border: 1px solid #ff0000 !important;
}

.select{
  margin-left: 12px !important;
  width: auto !important;
  border-radius: 6px !important;
  height: 35px !important;
  padding-left: 10px !important;
}

#editarsenha{
  margin-left: 15px;
  height: 38px;
}

button:disabled {
  cursor: default;
}

.texto{
  margin-left: 12px;
  text-align: center;
}

#senha_antiga, #senha_nova, #senha_nova_dup{
  width: 50%;
}

form{
  display: contents;
}
.pass{
  display: grid;
}


#cpf_input:hover, #cpf_input:focus, #tel_input:hover,#tel_input:focus, #email_input:hover, #email_input:focus, #senha_antiga:hover, #senha_antiga:focus,
#senha_nova:hover, #senha_nova:focus, #senha_nova_dup:hover,#senha_nova_dup:focus, #nome_empresa_input:hover, #nome_empresa_input:focus, #nome_fantasia_input:hover, #nome_fantasia_input:focus, #cnpj_input:hover, #cnpj_input:focus, #ramo_input:hover, #ramo_input:focus, #cep_empresa_input:hover, #cep_empresa_input:focus,#rua_input:hover, #rua_input:focus, #numero_empresa_input:hover, #numero_empresa_input:focus, #bairro_input:hover, #bairro_input:focus, #cidade_input:hover, #cidade_input:focus, #estado_input:hover, #estado_input:focus, #cep_usuario_input:hover, #cep_usuario_input:focus, #numero_usuario_input:hover, #numero_usuario_input:focus{
  box-shadow: 0px 10px 20px -13px rgba(32, 56, 117, 0.35);
  text-align: left !important;
  border-radius:6px !important;
  border-color: #3d9cff;
  display: inline !important;
  outline: none;
}

input::-webkit-input-placeholder {
  color: black;
  opacity: 0.4;
}
#editar, #editar_empresabtn, #editarsenha{
  background-color: #4E6EF1 !important;
}

#cancelar_senhabtn, #salvar_senhabtn{
  color: white;
}
.phone-list{
  margin-top: 11px;
  margin-left: 10px;
}
#editarsenha, #salvar_senhabtn, #cancelar_senhabtn{
  white-space: nowrap;
  text-align: center;
  width: 162px;
  position:relative;
  opacity:1;
  text-align:center;
  color:white;
  font-family: "Futura", Sans-serif;
  font-weight:200;
  border: none;
}
#editarsenha:disabled, #salvar_senhabtn:disabled{
  opacity: 0.6;
}
#editar, #editar_empresabtn, #salvar, #cancelar, #salvar_empresabtn, #cancelar_empresabtn, .butao{
  width:86px;
  position:relative;
  opacity:1;
  font-size: 99% !important;
  padding:8px;
  text-align:center;
  color:white;
  font-family: "Futura", Sans-serif;
  font-weight:200;
  border: none;
}

#editar, #editar_empresabtn, #editarsenha, #salvar, #cancelar, #salvar_empresabtn, #cancelar_empresabtn, .butao, #cancelar_senhabtn, #salvar_senhabtn, #del_tel, .btn-success, #sairbtn{
  overflow:hidden;
}
.circle{
  border-radius:50%;
  transition: all 0.4s cubic-bezier(.86,.31,.55,.99);
  width:4px;
  top:calc(50% - 1px);
  left:calc(50% - 1px);
  height:2px;
  position:absolute;
  display:inline-block;
  background:#ffffff23;
}
#editar:hover, #editar_empresabtn:hover, #editarsenha:hover{
  color:white;
}
#editar:hover >.circle, #editar_empresabtn:hover >.circle, #editarsenha:hover >.circle, #salvar:hover >.circle, #cancelar:hover >.circle, #salvar_empresabtn:hover >.circle, #cancelar_empresabtn:hover >.circle, #sair:hover >.circle, .butao:hover>.circle, #cancelar_senhabtn:hover>.circle, #salvar_senhabtn:hover>.circle, #del_tel:hover>.circle, .btn-success:hover>.circle, #sairbtn:hover>.circle{
  transform:scale(90);
}

.senha{
  margin-bottom: 30px !important;
}
i {
  margin-left: -30px;
  margin-bottom: 10px;
  cursor: pointer;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    display: table;
    height: 100%;
    width: 100%;
    background: #fff;
    z-index: 99999;
  }
  
  .preloader .loader {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  
  .preloader .loader .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 64px;
    margin-left: -32px;
    z-index: 18;
    pointer-events: none;
  }
  
  .preloader .loader .spinner .spinner-container {
    pointer-events: none;
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    animation: spinner-linspin 1568.2353ms linear infinite;
  }
  
  .preloader .loader .spinner .spinner-container .spinner-rotator {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  }
  
  .preloader .loader .spinner .spinner-container .spinner-rotator .spinner-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    right: 50%;
  }
  
  .preloader .loader .spinner .spinner-container .spinner-rotator .spinner-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    left: 50%;
  }
  
  .preloader .loader .spinner-circle {
    box-sizing: border-box;
    position: absolute;
    width: 200%;
    height: 100%;
    border-style: solid;
    /* Spinner Color */
    border-color: #4E6EF1 #4E6EF1 #ddd;
    border-radius: 50%;
    border-width: 6px;
  }
  
  .preloader .loader .spinner-left .spinner-circle {
    left: 0;
    right: -100%;
    border-right-color: #ddd;
    animation: spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  }
  
  .preloader .loader .spinner-right .spinner-circle {
    left: -100%;
    right: 0;
    border-left-color: #ddd;
    animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  }
  
  /* Preloader Animations */
  
  @keyframes spinner-linspin {
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes spinner-easespin {
    12.5% {
      transform: rotate(135deg);
    }
    25% {
      transform: rotate(270deg);
    }
    37.5% {
      transform: rotate(405deg);
    }
    50% {
      transform: rotate(540deg);
    }
    62.5% {
      transform: rotate(675deg);
    }
    75% {
      transform: rotate(810deg);
    }
    87.5% {
      transform: rotate(945deg);
    }
    to {
      transform: rotate(1080deg);
    }
  }
  
  @keyframes spinner-left-spin {
    0% {
      transform: rotate(130deg);
    }
    50% {
      transform: rotate(-5deg);
    }
    to {
      transform: rotate(130deg);
    }
  }
  
  @keyframes right-spin {
    0% {
      transform: rotate(-130deg);
    }
    50% {
      transform: rotate(5deg);
    }
    to {
      transform: rotate(-130deg);
    }
  }
.butao{
    float: right;
    color: rgb(255, 255, 255);
    background-color: #ff0000;
    border-radius: 0.25rem;
    border: none;
}


#diamante{
    padding-right: 10px !important;
}


.btn-add-phone, .btn-remove-phone{
  margin-left: 0.5em !important;
}

@media (min-width: 768px){
    .col-md-8 {
    flex: none !important;
    max-width: none !important;
    }
    #pass, #pass2, #pass3{
      width: 560px;
    }
    .texto{
      text-align: left;
    }
  }

@media (max-width: 767px){
  .btn-add-phone{
    margin-top: 5px !important;
  }
  #pass, #pass2, #pass3{
    width: 64% !important;
  }
  .adicional{
    height: 35px;
  }
  input{
    width: 75%;
  }
  .texto{
    text-align: left;
  }
  #senha_antiga, #senha_nova, #senha_nova_dup{
    width: 80%;
  }

  #StrengthDisp{
    width: 100%;
    text-align: center;
    margin-top: -14px;
  }
}

@media (max-width:281px) {
  .adicional{
    width: 72%;
  }
  #salvar_empresabtn, #cancelar_empresabtn{
    width: 100%;
    float: left;
  }
}

@media (max-width: 500px){
  .btn-remove-phone{
    margin-left: 0.5em !important;
    margin-top: 0;
  }
  .btn-add-phone{
    margin-right: 0.5em !important;
    width: 100%;
    margin-bottom: 2px !important;
  }
  #del_tel{
    width: 100%;
    margin-top: 10px;
    margin-right: 0.5em;
    margin-left: 0.5em;
  }
  .exclusao_tel{
    padding-left: 15px;
    margin-top: 5px;
  }
  #editarsenha{
    width: 100%;
    margin-right: 15px;
    height: auto;
  }
  #salvar_senhabtn, #salvar_empresabtn{
    margin-bottom: 10px;
  }
  #salvar_senhabtn, #cancelar_senhabtn{
    width: 100%;
  }
  #senha_antiga, #senha_nova, #senha_nova_dup{
    width: 100%;
  }
  #editar_empresabtn{
    width: 100%;
  }
  #salvar_empresabtn, #cancelar_empresabtn{
      height: 40px;
    width: 100%;
  }
  #cancelar_empresabtn{
    float: right;
  }
  #sairbtn{
    margin-top: 20px;
    height: 40px;
    width: 100%;
  }
  .texto{
    text-align: left;
  }
  .senha{
    margin-bottom: 30px !important;
  }
  button{
    padding: 5px !important;
  }
  #sair{
    margin-top: 15px !important;
  }
  #editar, #editar_empresa, #sair{
    width: 100% !important;
  }
  #cancelar_empresa, #cancelar{
    float: right;
  }
  #salvar, #cancelar{
        width: 100%;
        height: 40px;
        margin-top: 12px;
  }
}
  
  #cad_empresa{
    padding-top: 15px;
    text-align: center;
  }
  .xamp{
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 0 solid rgba(0,0,0,.125);
      border-radius: 0.25rem;
  }
  .center2 {
  margin: auto;
  padding: 10px;
  }
  body{
      margin-top:20px;
      color: #1a202c;
      text-align: left;
      background-color: #e2e8f0;    
  }
  .main-body {
      padding: 15px;
      cursor: default;
  }
  .card {
      box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
  }
  
  .card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 0 solid rgba(0,0,0,.125);
      border-radius: .25rem;
  }
  hr {
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
      border-top: 1px solid rgba(0,0,0,.1);
  }
  
  .card-body {
      flex: 1 1 auto;
      min-height: 1px;
      padding: 1rem;
      overflow: hidden;
  }
  
  .gutters-sm {
      margin-right: -8px;
      margin-left: -8px;
  }
  
  .gutters-sm>.col, .gutters-sm>[class*=col-] {
      padding-right: 8px;
      padding-left: 8px;
  }
  .mb-3, .my-3 {
      margin-bottom: 1rem!important;
  }
  
  .bg-gray-300 {
      background-color: #e2e8f0;
  }
  .h-100 {
      height: 100%!important;
  }
  .shadow-none {
      box-shadow: none!important;
  }