#plano{
    padding-left: 10px !important;
}

#teste{
    justify-content: center !important;
}

.none{
  display: none;
}
.salvar{
  background-color: #20a837;
  border-color: #118b2b;
}

input{
  margin-left: 12px;
  margin-bottom: -4px;
}
input:last-child{
  margin-bottom: 0px;
}
#tel_input{
  margin-bottom: 1px !important;
}

.salvar:hover{
  background-color: #139629fd;
  transition: all 0.3s ease-in-out;
}

.cancelar{
  background-color: #a82020;
  border-color: #8b1111;
}
.cancelar:hover{
  background-color: #961313fd;
  transition: all 0.3s ease-in-out;
}
#cpf_input, #tel_input, #email_input, #nome_empresa_input, #nome_fantasia_input, #cnpj_input, #ramo_input, #cep_input, #rua_input, #numero_input, #bairro_input, #cidade_input, #estado_input{
  border-radius:6px;
  border: 1px solid #ced6e0;
}

.vermei{
  border-bottom: 1px solid #ff0000 !important;
}

form{
  display: contents;
}

#cpf_input:hover, #cpf_input:focus, #tel_input:hover,#tel_input:focus, #email_input:hover, #email_input:focus, #nome_empresa_input:hover, #nome_empresa_input:focus, #nome_fantasia_input:hover, #nome_fantasia_input:focus, #cnpj_input:hover, #cnpj_input:focus, #ramo_input:hover, #ramo_input:focus, #cep_input:hover, #cep_input:focus,#rua_input:hover, #rua_input:focus, #numero_input:hover, #numero_input:focus, #bairro_input:hover, #bairro_input:focus, #cidade_input:hover, #cidade_input:focus, #estado_input:hover, #estado_input:focus{
  box-shadow: 0px 10px 20px -13px rgba(32, 56, 117, 0.35);
  text-align: left !important;
  border-radius:6px;
  border-color: #3d9cff !important;
  display: inline !important;
  transition: all 0.5s ease-in-out;
  outline: none;
}

input::-webkit-input-placeholder {
  color: black;
  opacity: 0.4;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    display: table;
    height: 100%;
    width: 100%;
    background: #fff;
    z-index: 99999;
  }
  
  .preloader .loader {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  
  .preloader .loader .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 64px;
    margin-left: -32px;
    z-index: 18;
    pointer-events: none;
  }
  
  .preloader .loader .spinner .spinner-container {
    pointer-events: none;
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    animation: spinner-linspin 1568.2353ms linear infinite;
  }
  
  .preloader .loader .spinner .spinner-container .spinner-rotator {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  }
  
  .preloader .loader .spinner .spinner-container .spinner-rotator .spinner-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    right: 50%;
  }
  
  .preloader .loader .spinner .spinner-container .spinner-rotator .spinner-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    left: 50%;
  }
  
  .preloader .loader .spinner-circle {
    box-sizing: border-box;
    position: absolute;
    width: 200%;
    height: 100%;
    border-style: solid;
    /* Spinner Color */
    border-color: #4E6EF1 #4E6EF1 #ddd;
    border-radius: 50%;
    border-width: 6px;
  }
  
  .preloader .loader .spinner-left .spinner-circle {
    left: 0;
    right: -100%;
    border-right-color: #ddd;
    animation: spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  }
  
  .preloader .loader .spinner-right .spinner-circle {
    left: -100%;
    right: 0;
    border-left-color: #ddd;
    animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  }
  
  /* Preloader Animations */
  
  @keyframes spinner-linspin {
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes spinner-easespin {
    12.5% {
      transform: rotate(135deg);
    }
    25% {
      transform: rotate(270deg);
    }
    37.5% {
      transform: rotate(405deg);
    }
    50% {
      transform: rotate(540deg);
    }
    62.5% {
      transform: rotate(675deg);
    }
    75% {
      transform: rotate(810deg);
    }
    87.5% {
      transform: rotate(945deg);
    }
    to {
      transform: rotate(1080deg);
    }
  }
  
  @keyframes spinner-left-spin {
    0% {
      transform: rotate(130deg);
    }
    50% {
      transform: rotate(-5deg);
    }
    to {
      transform: rotate(130deg);
    }
  }
  
  @keyframes right-spin {
    0% {
      transform: rotate(-130deg);
    }
    50% {
      transform: rotate(5deg);
    }
    to {
      transform: rotate(-130deg);
    }
  }
.butao{
    float: right;
    color: rgb(253, 0, 0);
    background-color: #ff0000;

    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;

    color: #fff;
    background-color: #c00000be;
}
.butao:hover {
    
    background-color: #ff3131a9;
    text-decoration: none;
    color: white;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#diamante{
    padding-right: 10px !important;
}
@media (min-width: 768px){
    .col-md-8 {
    flex: none !important;
    max-width: none !important;
    }
  }
  
  #cad_empresa{
    padding-top: 15px;
    text-align: center;
  }
  .xamp{
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 0 solid rgba(0,0,0,.125);
      border-radius: 0.25rem;
  }
  .center2 {
  margin: auto;
  padding: 10px;
  }
  body{
      margin-top:20px;
      color: #1a202c;
      text-align: left;
      background-color: #e2e8f0;    
  }
  .main-body {
      padding: 15px;
      cursor: default;
  }
  .card {
      box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
  }
  
  .card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 0 solid rgba(0,0,0,.125);
      border-radius: .25rem;
  }
  hr {
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
      border-top: 1px solid rgba(0,0,0,.1);
  }
  
  .card-body {
      flex: 1 1 auto;
      min-height: 1px;
      padding: 1rem;
  }
  
  .gutters-sm {
      margin-right: -8px;
      margin-left: -8px;
  }
  
  .gutters-sm>.col, .gutters-sm>[class*=col-] {
      padding-right: 8px;
      padding-left: 8px;
  }
  .mb-3, .my-3 {
      margin-bottom: 1rem!important;
  }
  
  .bg-gray-300 {
      background-color: #e2e8f0;
  }
  .h-100 {
      height: 100%!important;
  }
  .shadow-none {
      box-shadow: none!important;
  }